/*
0 - 600px: Phone

600px - 900px: Tablet-Portrait

900px - 1200 px: Tablet-Landscape

[1200px - 1800px]: Normal styling

1800px + : Large desktop

Good working order: Base & Typography -> General Layout & Grid -> Page Layout -> Components

*/
/* Reset CSS for cross-browser compatibility */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* allows other elements to inherit box-sizing specified in body */
  box-sizing: inherit; }

html {
  /* this makes it a lot easier to calcute rem. 62.5 is 10/16 so our defualt fontsize is relative to user settings. defines what 1 rem is */
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  /* makes it so that padding and width don't add to total size of element. i.e. height and width will now extend to define other parts of the box model */
  box-sizing: border-box; }

::selection {
  background-color: #bf3a32;
  color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", cursive; }

p {
  font-family: "Josefin Sans", sans-serif; }

.home__parallax {
  background-image: url("https://i.gse.io/gse_media/117/3/1492377915-Palace-of-Fine-Arts-Theatre-tickets.jpg?p=1public/images/palace-1.jpg");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
  width: 100vw; }
