// COLORS
$color-primary: rgb(191,58,50);
$color-primary-light:rgb(100, 59.2, 57.3);
$color-primary-dark: rgb(112, 6, 0);

$color-secondary: rgb(247,242,72);
// $color-secondary-light: ;
// $color-secondary-dark: ;

$color-grey-dark: rgb(135, 135, 135);
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(200,200,200);

// FONTS
$font-decorative: 'Cinzel Decorative', cursive;
$font-decorative-alt: 'Cinzel', serif;

$font-heading: 'Poiret One', cursive;
$font-text: 'Josefin Sans', sans-serif;



