h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

p {
  font-family: $font-text;
}

.heading {

  &--main {
    font-size: 5rem;
    letter-spacing: 1rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-decorative;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  }
}